
.masonry {
    margin: 1.5em auto;
    max-width: 95%;
    column-gap: 1.5em;
  }
  
  /* The Masonry Brick */
  .item {
    background: #fff;
    padding: 1em;
    margin: 0 0 1.5em;
  }
  .masonry-item, .masonry-content {
    border-radius: 20px;
    overflow: hidden;
  }
  .masonry-item {
      margin-bottom: 1.5em;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, .3));
    transition: filter .25s ease-in-out;
    opacity: 0.9;
 
  }
  .masonry-item:hover {
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, .3));
    opacity: 1;
  }
  /* Masonry on large screens */
  @media only screen and (min-width: 1024px) {
    .masonry {
      column-count: 3;
    }
  }
  
  /* Masonry on medium-sized screens */
  @media only screen and (max-width: 1023px) and (min-width: 768px) {
    .masonry {
      column-count: 3;
    }
  }
  
  /* Masonry on small screens */
  @media only screen and (max-width: 767px) and (min-width: 540px) {
    .masonry {
      column-count: 2;
    }
  }
  .custom-color-tobacco-brown-bg {
    background-color: #6C5A46 !important;
}

.custom-color-woodland-bg {
   background-color: #656E41 !important;
}

.custom-color-tobacco-brown-bg {
  background-color: #6C5A46 !important;
}

.custom-color-woodland-bg {
 background-color: #656E41 !important;
}

/* icons */
/* .custom-btn-bg:hover { 
  background-color: var(--Carrot-Orange) !important;
}

.pinterrest-boards-section__icon-circle {
   width: 30px;
   height: 30px;
}

.pinterest-boards-section__height {
    height: 30px;
}

.pinterest-boards-notification-box {
  height: 20px !important;
  width: 20px !important;
} */

.pinterest-boards-section-buttons {

  position: relative;

  width: 95%;
  height: 60px;
  overflow: hidden;
}

.pinterest-boards-section-buttons__pos-fixed {
  position: absolute;
  top: 20px;
  right: 0;

  height:0px;
  box-shadow: -15px 0px 98px 120px rgba(255,255,255,1);
}
